/* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

/* HEADER */
.header {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-top {
  background-color: #30a9ff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-top-left, 
.header-top-right {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8%;
}

.header-top-left img,
.header-top-right img {
  width: 16px;
}

.header-top-right a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* MAIN HEADER */
.header-main {
  background-color: #30a9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  gap: 30px;
}

.header-logo img {
  height: 65px;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 12px;
  display: block;
  
}

/* BARRA DE BUSCA */
.header-search {
  flex: 1;
  max-width: 700px;
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  height: 42px;
  align-items: center;
  overflow: hidden;
}

.header-search select {
  border: none;
  background: transparent;
  padding: 0 15px;
  font-size: 14px;
  color: #555;
  outline: none;
  cursor: pointer;
  border-right: 1px solid #eee;
}

.header-search input {
  flex: 1;
  border: none;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
}

.header-search button {
  background: transparent;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

/* CART */
.header-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  white-space: nowrap;
}

.header-cart a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.header-cart img {
  width: 40px;
}

/* NAV */
.header-nav {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  
}

.header-nav ul {
  display: flex;
  justify-content: space-between; 
  list-style: none;
  max-width: 100%;
  padding: 15px 4%;
  margin: 0;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1); 
}

.header-nav li a {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  transition: color 0.2s;
}


.header-nav ul li:first-child a {
  color: #30a9ff;
}

.header-nav li a:hover {
  color: #30a9ff;
}

.has-dropdown a::after {
  content: "";
  margin-left: 5px;
  
}

/* BREADCRUMB */

.breadcrumb {
  background-color: whitesmoke; 
  padding: 20px 0;          
  width: 100%;
}

.breadcrumb-content {
  background-color: #ffffff; 
  display: flex;
  align-items: center;
  max-width: 1600px; 
  margin: 0 auto;
  padding: 15px 25px;       
  border: 1px solid #e5e5e5; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.breadcrumb-link {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-icon {
  width: 18px; 
  height: auto;
}

.breadcrumb-separator {
  margin: 0 10px;
  color: #999;
  font-size: 11px;
}

.breadcrumb-current {
  color: #3e4a61; 
  font-weight: 700;
  font-size: 14px;
}

/* CARROSSEL */
.carousel-section {
  padding: 20px 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.carousel-container {
  position: relative;
  max-width: 1200px; 
  width: 95%;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 50px;
  color: #ff6600; 
  cursor: pointer;
  z-index: 10;
}

.carousel-prev { left: 10px; }
.carousel-next { right: 10px; }

.carousel-wrapper {
  display: flex;
  width: 100%;
}

.carousel-item {
  display: none; 
  width: 100%;
}

.carousel-item.active {
  display: block; 
}

/* GRADE DE CARDS */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}

.category-card {
  padding: 40px 25px;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 180px;
}

.category-card h3 {
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.category-card a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-blue { background-color: #30a9ff; }
.card-orange { background-color: #ffb03a; }
.card-red { background-color: #ff7034; }
.card-light-blue { background-color: #3db2ff; }


/* Responsividade para celular */
@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: 1fr; 
  }
}